/* src/pages/Dashboard.css */

/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: #e9e2b0;
    color: #343a40;
  }
  
  /* Container styling */
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: #eff1e0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 800px;
    margin: 40px auto;
    position: relative;
  }
  
  /* Top bar styling */
  .top-bar {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  /* Header styling */
  .dashboard-header {
    font-size: 2.5em;
    color: #18a038;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* New list section styling */
  .new-list-section,
  .items-section {
    margin-bottom: 20px;
  }
  
  .new-list-section input,
  .items-section input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .new-list-section button,
  .items-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #18a038;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .new-list-section button:hover,
  .items-section button:hover {
    background-color: #157f2a;
  }
  
  /* Lists section styling */
  .lists-section {
    margin-bottom: 20px;
  }
  
  .lists-section h2 {
    font-size: 1.5em;
    color: #18a038;
    margin-bottom: 10px;
  }
  
  .lists-section ul,
  .items-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .lists-section .list-item,
  .items-section li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .lists-section .list-item:hover,
  .items-section li:hover {
    background-color: #f1f1f1;
  }
  
  /* Share button styling */
  .share-button {
    padding: 5px 7px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #18a038;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .share-button:hover {
    background-color: #157f2a;
  }
  
  /* Logout button styling */
  .logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #18a038;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #157f2a;
  }
  
  /* Footer styling */
  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #6c757d;
  }
  
  .footer a {
    color: #18a038;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  